IMAGE_NAME=malachite

# Make this the same as your github username/organisation
REPO_ORGANIZATION="trigg"

IMAGE_DESC="Wayfire on uBlue. Testing Image!"
IMAGE_KEYWORDS="bootc,oci,linux"

IMAGE_LOGO_URL="https://private-user-images.githubusercontent.com/535772/311779522-949f2ee8-3b51-452f-8856-87dcf800379d.svg?jwt=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3ODE3MjMzMTMsIm5iZiI6MTc4MTcyMzAxMywicGF0aCI6Ii81MzU3NzIvMzExNzc5NTIyLTk0OWYyZWU4LTNiNTEtNDUyZi04ODU2LTg3ZGNmODAwMzc5ZC5zdmc_WC1BbXotQWxnb3JpdGhtPUFXUzQtSE1BQy1TSEEyNTYmWC1BbXotQ3JlZGVudGlhbD1BS0lBVkNPRFlMU0E1M1BRSzRaQSUyRjIwMjYwNjE3JTJGdXMtZWFzdC0xJTJGczMlMkZhd3M0X3JlcXVlc3QmWC1BbXotRGF0ZT0yMDI2MDYxN1QxOTAzMzNaJlgtQW16LUV4cGlyZXM9MzAwJlgtQW16LVNpZ25hdHVyZT1mNWRkMWNiYWM1MTZiZjk0MzVmYmZlZGYyNDc3ZjI5NDc0MWNhZWNhOTk4NzhkZWNlODdmYTYzYmU5MGNhZDVmJlgtQW16LVNpZ25lZEhlYWRlcnM9aG9zdCZyZXNwb25zZS1jb250ZW50LXR5cGU9aW1hZ2UlMkZzdmclMkJ4bWwifQ.NSoOuskCUkVf9kefMIYnidW1c6q7wdLja-X8vLB34ZU"
DEFAULT_TAG="latest"
BIB_IMAGE="quay.io/centos-bootc/bootc-image-builder:latest"
